body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*background-color: #f9e3e3;*/
    font-family: 'Arial', sans-serif;
    
    background-image: url("https://images.wallpaperscraft.com/image/single/night_starry_sky_trees_1334550_3840x2160.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d84315;
}

.gif_container img {
    width: 50%; 
    max-width: 250px; 
    height: 250px; 
}
